/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

html {
    box-sizing: border-box;
   font-size: 60.5%; 
}

body{
    font-family: "Lucidia Sans", "Lucidia Sans Regular", "Lucidia Grande",
    "Lucida Sans Unicode", Verdana, Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: black;
    margin: 400;
}

header {
    background-color:rgb(255, 255, 255);
    position: relative;
    padding: 5rem;
}

nav a {
    color: gold;
    font-size: 30px;
    text-decoration: none;

}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
}

nav li {
    display: inline;
    margin-top: 0.5rem;
}

main {
    margin: 1rem auto;
    width: 80%;

}

main section {
    margin-top: 6rem;
    padding: 2rem;
}

main section img {
    margin-inline-end: 3rem;
    padding: 2rem;

}

img {
    float: row;
    margin-block-start: 6rem;
    width: 300px;
    left: 0;
    right: 0;
}

.home img {
    float: left;
    margin-right: 3rem;
    width: 400px;
}

.class img {
    float: row;
    margin-inline-start: 3rem;
    width: fit-content;
}



























footer {
    text-align: center;
    background-color: gold;
    padding: 4rem;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}